.slider-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  background-color: #000;
  border-radius: 6px;
}

.custom-slider .carousel-indicators [data-bs-target] {
  background-color: gray;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.custom-slider .carousel-indicators .active {
  background-color: red;
}
